<ion-view title="chatbot">
  <ion-nav-bar class="bar-positive set-nav-color" align-title="center">
    <ion-nav-buttons side="left">
      <button class="button-clear set-btn-color" ng-click="goBack()">
        <i class="icon ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true">
    <div class="row" style="height:100%;">
      <div class="col col-100">
          <iframe allow="microphone;" width="100%"  height="100%" src="https://console.dialogflow.com/api-client/demo/embedded/b91437f6-9b61-499c-9a39-02be25ba9756">
          </iframe>
      </div>
    </div>
  </ion-content>
</ion-view>
